
:root{
    --main-color: #FAB519;

    --dark-color: #887037;
}


body{
    display: grid;
    grid-template-columns: 2fr 1fr;

    /* background: url(../pic/try.png);
    background-size: cover;
        /* background-size: 45%;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: -40%; */ 

        background-color: black;
        
}

h2{
    margin-top: 5%;
}

.active{
    z-index: 3;
}

/* This class targets the main white container box of the alert */
    .my-swal-popup {
        border: 3px solid var(--main-color); /* Example border: 5px thick, solid, green color */
        /* Optional: you can customize border radius too */
        border-radius: 20px;
    }
    .items{
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    }

    .categoryHeader{
        width: 90%;
        border-bottom: var(--main-color) 2px solid;
        margin: 20px 0px 10px 20px;
        color: var(--main-color);
    }

.container{
    /* border: #FAB519 3px solid; */
    position: relative;
    background-color: white;
    min-height: 200px;
    min-width: 150px;
    max-height: 225px;
    max-width: 150px;
    overflow: hidden;
    background: var(--main-color);
}

.container:hover{
    transform: scale(0.9);
    transition: 100ms;
    cursor: pointer;
}

.pic{
    height: 150px;
    overflow: hidden;
    background: black;
    padding-bottom: 15px;
}

.container img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    border: var(--main-color) 2px solid;
    box-sizing: border-box;
}

.container p{
    font-size: 15px;
    text-align: center;
}

.container .cate{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 3%;
    height: 3%;
}

.side{
    position: fixed;
    right: 40px;
    top: 7%;
    width: 35%;
}

.side .buttons{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: black;
    padding-bottom: 3%;
}

.side .buttons button{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 200px;
    border: var(--main-color) 2px solid;
    border-radius: 5%;
    font-size: 20px;
    color: var(--main-color);
    background: black;
}

.side .buttons button:hover{
    background: var(--main-color);
    color: white;
    cursor: pointer;
    transition: 200ms;
}


.forms{
    border: var(--main-color) 3px solid;
    background: black;
    height: 78vh;
    position: absolute;
    top: 125px;
    width: 99%;
}

  .forms{
    color: var(--main-color);
  }

  .forms > div{
    display: none;
  }

  .forms input, .forms select, .forms textarea{
    width: 80%;
    padding: 4%;
    font-size: 15px;
    background: transparent;
    border-radius: 2%;
    border: var(--main-color) 1px solid;
    
    color: var(--main-color);
  }

  .newF{
    margin: 5%;
    display: none;
    position: relative;
  }
  
  .newF form {
      display: grid;
      justify-items: center;
  }
        .newF .info{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
            justify-items: center;
        }

        .newF .info > div{
            display: grid;
            gap: 10px;
            flex-direction: column;
            font-size: 22px;
            width: 100%;
        }

        .quest{
            display: flex;
            align-items: center;
        }


    .stores{
     display: grid;
     justify-self: center;
     grid-template-columns: 1fr 1fr 1fr;
     align-items: center;
     justify-items: center;
     width: 80%;
    }

        .stores > div{
            display: grid;
            gap: 10px;
            flex-direction: column;
            font-size: 22px;
            width: 100%;
        }

    .stores input[type="number"]{
        width: 50%;
        padding: 2%;
    }

    .closeNewF{
        position: absolute;
        top: -10px;
        right: -10px;
        cursor: pointer;
    }

    .closeNewF:hover{
        transform: scale(1.2);
        transition: 200ms;
    }

    .newF button[type="submit"], .newF button[type="reset"]{
       padding: 2%;
       background: transparent;
       border: var(--main-color) 2px solid;
       border-radius: 5%;
       color: var(--main-color);
       width: 30%;
       margin-top: 7%;
    }

    .addBTN{
        display: flex;
        gap: 20px;
        justify-content: center;
        width: 100%;
    }

    .newF button[type="submit"]:hover, .newF button[type="reset"]:hover{
        background: var(--main-color);
        color: white;
        cursor: pointer;
        transition: 200ms;
    }

    .ropeForm {
        grid-template-columns: 1fr;
        padding-top: 5%;
        justify-items: center;
        align-items: center;
    }

    .ropeForm > div{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        font-size: 25px;
        width: 75%;
        padding: 1%;
        margin-top: 3%;
    }

    .ropeForm input{
        padding: 4%;
        font-size: 15px;
        background: transparent;

        border-radius: 2%;
        width: 72%;
        border: none;
        border-bottom : var(--main-color) 1px solid;
        color: var(--main-color);
    }

   input[type="checkbox"]{
       accent-color: var(--main-color);

    }

    .ropeForm button{
       padding: 2%;
       background: transparent;
       border: var(--main-color) 2px solid;
       border-radius: 5%;
       color: var(--main-color);
       width: 30%;
       margin-top: 15%;
    }

    .ropeForm button:hover{
        background: var(--main-color);
        color: white;
        cursor: pointer;
        transition: 200ms;
    }

    .ropeOutput{
        padding-top: 5%;
    }

        .ropeOutput h1, .ropeOutput h4{
            line-height: 10px;
            text-align: center;
        }

        .resultsContainer{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            padding-top: 10%;
            justify-items: center;
        }

        .resultsContainer div{
            display: grid;
            gap: 10px;
            flex-direction: column;
            font-size: 18px;
            width: 100%;
            padding-left: 15%;
        }

        .resultsContainer input{
            width: 70%;
            padding: 4%;
            padding-left: 2%;
            font-size: 15px;
            background: transparent;
            border-radius: 2%;
            border: none;
            border-bottom: var(--main-color) 1px solid;
            color: var(--main-color);
        }

        .resultsContainer input::placeholder{
            color: var(--main-color);
        }

        .resultsContainer button{
            padding: 4%;
            background: transparent;
            border: var(--main-color) 2px solid;
            border-radius: 5%;
            color: var(--main-color);
            width: 40%;
            margin-top: 10%;
        }

        .resultsContainer button:hover{
            background: var(--main-color);
            color: white;
            cursor: pointer;
            transition: 200ms;
        }

    .addInventory{
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr;
        padding-top: 5%;

        text-align: center;
    }

    .addInventory > div{
        font-size: 25px;
        width: 100%;
        height: 40vh;
        padding: 1%;
        margin-top: 3%;
    }

    .addInventory button{
       padding: 2%;
       background: transparent;
       border: var(--main-color) 2px solid;
       border-radius: 5%;
       color: var(--main-color);
       width: 30%;
       margin-top: 5%;
    }

    .addInventory button:hover{
        background: var(--main-color);
        color: white;
        cursor: pointer;
        transition: 200ms;
    }

    .loading{
       position: absolute;
       background: rgba(0, 0, 0, 0.5);
       width: 100%;
       height: 100%;
       display: grid;
       align-items: center;
       justify-content: center;
       top: 0;
       left: 0;
       /* transform: translateY(-50%) translateX(-50%); */
    }

   @media  (max-width: 1600px) {

        .side{
            position: absolute;
            width: 40%;
            right: 5px;
        }

        .forms{
            top: 0px;
            height: 90vh;
        }

    }

                .spinner {
              transform-origin: 50% 50%;
              animation: spin 1s linear infinite;
            }

            @keyframes spin {
              to {
                transform: rotate(360deg);
              }
            }

/* #region orders */

.orders{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 5%;
}

.orders .each{
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-bottom: var(--main-color) 2px solid;
    padding-bottom: 10px;
}

.orders .infoO{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    gap: 20px;
    
}

.orders .buttonsO{
    display: grid;
    grid-template-columns: 1fr;
}

.orders .buttonsO button{
    padding: 2% 3%;
    margin: 3%;
   display: grid;
   color: var(--main-color);
   justify-self: center;
   border: var(--main-color) 1px solid;
    width: 80%;
    font-size: 16px;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.orders .buttonsO button:hover {
    background-color: var(--main-color);
    color: black;
}

.eachOrderView{
    display: none;
    width: 75%;
    padding: 5%;
    color: var(--main-color);
}

.eachOrderView .headerO{
    display: grid;
    grid-template-columns: 6fr 0.5fr 0.5fr;
    font-size: 20px;
    padding: 3px;

    align-items: center;
    margin-bottom: 50px;
    border-bottom: var(--main-color) 2px solid;
}

.eachOrderView .headerO .printOrder svg, .eachOrderView .headerO .closeOrderView svg{
    justify-self: center;
    cursor: pointer;
}

.eachOrderView .headerO .printOrder svg:hover ,.eachOrderView .headerO .closeOrderView svg:hover{
    transform: scale(1.2);
    transition: 200ms;
}

.eachOrderView table{
    width: 100%;
     border: black 1px solid;
     outline: white 5px solid;

}

.eachOrderView th, .eachOrderView td{
    padding: 5px;
    text-align: center;
    color: black;
    border: none;
    border-right: black 1px solid;
}

.eachOrderView thead{
    border-bottom: black 2px solid;
}

.eachOrderView th{
    background-color: darkgray;
    
}

.eachOrderView tr:nth-child(even) {
    background-color: lightgrey;
    border: none;
    
}

.eachOrderView tr:nth-child(odd) {
    background-color: white;
    border: none;
    
}


/* #endregion orders */







