

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 3%;
    padding: 1%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FAB519;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: 100%;
    max-width: 125px;
    max-height: 225px;
}

.pic img {
    width: 125px;
    max-height: 125px;
    object-fit: cover;
    border-radius: 10px;
}

.name {
    margin-top: 3px;
    text-align: center;
}

.quantity input {
    width: 60px;
    text-align: center;
}

.job{
    margin-top: 2%;
    gap: 20px;
    justify-content: center;
}

.job > div{
    width: 80%;
    padding: 3%;
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.job input{
    padding: 1%;
    font-size: 16px;
    border: none;
    border-bottom: #FAB519 2px solid;
    width: 200px;
    background: transparent;
    margin: 2%;
    color: #FAB519;
}

button {
    padding: 2% 3%;
    margin: 3%;
   display: grid;
   justify-self: center;
    width: 50%;
    font-size: 16px;
    background-color: #FAB519;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e0a800;
}

    .categoryHeader{
        width: 90%;
        border-bottom: #FAB519 2px solid;
        margin: 20px 0px 10px 20px;
        color: #FAB519;
    }