

body{
    display: grid;
    grid-template-columns: 2fr 1fr;

    /* background: url(../pic/try.png);
    background-size: cover;
        /* background-size: 45%;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: -40%; */ 

        background: black;
        
}

h2{
    margin-top: 5%;
}

/* This class targets the main white container box of the alert */
    .my-swal-popup {
        border: 3px solid #FAB519; /* Example border: 5px thick, solid, green color */
        /* Optional: you can customize border radius too */
        border-radius: 20px;
    }
    .items{
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    }

.container{
    /* border: #FAB519 3px solid; */
    position: relative;
    background-color: white;
    min-height: 200px;
    min-width: 150px;
    max-height: 225px;
    max-width: 150px;
    overflow: hidden;
    background: #FAB519;
}

.container:hover{
    transform: scale(0.9);
    transition: 100ms;
    cursor: pointer;
}

.pic{
    height: 150px;
    overflow: hidden;
    background: black;
    padding-bottom: 15px;
}

.container img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    border: #FAB519 2px solid;
    box-sizing: border-box;
}

.container .name{

}

.container p{
    font-size: 15px;
    text-align: center;
}

.container .cate{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 3%;
    height: 3%;
}

.side{
    padding: 5%;
}


.side .buttons{
    height: 10%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.side .buttons button{
    padding: 5%;
    width: 200px;
    border: #FAB519 2px solid;
    background: transparent;
    border-radius: 5%;
    font-size: 20px;
    color: #FAB519;
}

.side .buttons button:hover{
    background: #FAB519;
    color: white;
    cursor: pointer;
    transition: 200ms;
}


.forms{
    border: #FAB519 3px solid;
    height: 90vh;
}

  .forms{
    color: #FAB519;
  }

  .forms input, .forms select, .forms textarea{
    width: 80%;
    padding: 4%;
    font-size: 15px;
    background: transparent;
    border-radius: 2%;
    border: #FAB519 1px solid;
    
    color: #FAB519;
  }

  .newF{
    margin: 5%;
  }
  
  .newF form {
      display: grid;
      justify-items: center;
  }
        .newF .info{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
            justify-items: center;
        }

        .newF .info > div{
            display: grid;
            gap: 10px;
            flex-direction: column;
            font-size: 22px;
            width: 100%;
        }

        .quest{
            display: flex;
            align-items: center;
        }


    .stores{
     display: grid;
     justify-self: center;
     grid-template-columns: 1fr 1fr 1fr;
     align-items: center;
     justify-items: center;
     width: 80%;
    }

        .stores > div{
            display: grid;
            gap: 10px;
            flex-direction: column;
            font-size: 22px;
            width: 100%;
        }

    .stores input[type="number"]{
        width: 50%;
        padding: 2%;
    }

    .newF button[type="submit"], .newF button[type="reset"]{
       padding: 2%;
       background: transparent;
       border: #FAB519 2px solid;
       border-radius: 5%;
       color: #FAB519;
       width: 30%;
       margin-top: 15%;
    }

    .addBTN{
        display: flex;
        gap: 20px;
        justify-content: center;
        width: 100%;
    }

    .newF button[type="submit"]:hover, .newF button[type="reset"]:hover{
        background: #FAB519;
        color: white;
        cursor: pointer;
        transition: 200ms;
    }




